

h2{
   color:#003580;
   
}
p{
  font-size:14px;
  color:#00003;
}


a{
  color:red;
}
.c1{
 color:#1F87CC;
}
.c2{
 color:#FAA53B;
}
.c3{
 color:#006400;
}
.c4{
 color:#FAA53B;
}
.pic1{
  width:100px;
  heigth:160px;
}
.pic2{
  width:200px;
  heigth:130px;
}
